parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$node \(PhpParser\\Node\\Expr\\PropertyFetch\) of method Ergebnis\\Rector\\Rules\\Faker\\GeneratorPropertyFetchToMethodCallRector\:\:refactor\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Contract\\Rector\\RectorInterface\:\:refactor\(\)$#'
			identifier: method.childParameterType
			count: 2
			path: src/Faker/GeneratorPropertyFetchToMethodCallRector.php

		-
			message: '#^Parameter \#1 \$node \(Rector\\PhpParser\\Node\\FileNode\) of method Ergebnis\\Rector\\Rules\\Files\\UseImportRelativeToNamespacePrefixRector\:\:refactor\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Contract\\Rector\\RectorInterface\:\:refactor\(\)$#'
			identifier: method.childParameterType
			count: 3
			path: src/Files/UseImportRelativeToNamespacePrefixRector.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Arrays\\SortAssociativeArrayByKeyRectorWithComparisonFunctionStrcasecmpTest\:\:provideFilePathsPhp74\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Arrays/SortAssociativeArrayByKeyRectorWithComparisonFunctionStrcasecmpTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Arrays\\SortAssociativeArrayByKeyRectorWithComparisonFunctionStrcasecmpTest\:\:provideFilePathsPhp80\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Arrays/SortAssociativeArrayByKeyRectorWithComparisonFunctionStrcasecmpTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Arrays\\SortAssociativeArrayByKeyRectorWithComparisonFunctionStrcmpTest\:\:provideData\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Arrays/SortAssociativeArrayByKeyRectorWithComparisonFunctionStrcmpTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Arrays\\SortAssociativeArrayByKeyRectorWithComparisonFunctionStrnatcasecmpTest\:\:provideFilePathsPhp74\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Arrays/SortAssociativeArrayByKeyRectorWithComparisonFunctionStrnatcasecmpTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Arrays\\SortAssociativeArrayByKeyRectorWithComparisonFunctionStrnatcasecmpTest\:\:provideFilePathsPhp80\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Arrays/SortAssociativeArrayByKeyRectorWithComparisonFunctionStrnatcasecmpTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Arrays\\SortAssociativeArrayByKeyRectorWithComparisonFunctionStrnatcmpTest\:\:provideData\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Arrays/SortAssociativeArrayByKeyRectorWithComparisonFunctionStrnatcmpTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Arrays\\SortAssociativeArrayByKeyRectorWithDefaultConfigurationTest\:\:provideFilePathsPhp74\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Arrays/SortAssociativeArrayByKeyRectorWithDefaultConfigurationTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Arrays\\SortAssociativeArrayByKeyRectorWithDefaultConfigurationTest\:\:provideFilePathsPhp80\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Arrays/SortAssociativeArrayByKeyRectorWithDefaultConfigurationTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Arrays\\SortAssociativeArrayByKeyRectorWithDirectionAscTest\:\:provideData\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Arrays/SortAssociativeArrayByKeyRectorWithDirectionAscTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Arrays\\SortAssociativeArrayByKeyRectorWithDirectionDescTest\:\:provideData\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Arrays/SortAssociativeArrayByKeyRectorWithDirectionDescTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Faker\\GeneratorPropertyFetchToMethodCallRectorTest\:\:provideData\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Faker/GeneratorPropertyFetchToMethodCallRectorTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Files\\UseImportRelativeToNamespacePrefixRectorWithMultipleNamespacePrefixesTest\:\:provideDataOnPhp7\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Files/UseImportRelativeToNamespacePrefixRectorWithMultipleNamespacePrefixesTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Files\\UseImportRelativeToNamespacePrefixRectorWithMultipleNamespacePrefixesTest\:\:provideDataOnPhp8\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Files/UseImportRelativeToNamespacePrefixRectorWithMultipleNamespacePrefixesTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Files\\UseImportRelativeToNamespacePrefixRectorWithSingleNamespacePrefixTest\:\:provideDataOnPhp7\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Files/UseImportRelativeToNamespacePrefixRectorWithSingleNamespacePrefixTest.php

		-
			message: '#^Method Ergebnis\\Rector\\Rules\\Test\\Unit\\Files\\UseImportRelativeToNamespacePrefixRectorWithSingleNamespacePrefixTest\:\:provideDataOnPhp8\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/Unit/Files/UseImportRelativeToNamespacePrefixRectorWithSingleNamespacePrefixTest.php
